.meal-item {
  display: flex;
  padding: 10rem 0;
  border-bottom: 1px solid #eee;
}

.meal-item:last-child {
  border-bottom: none;
}

.img-box {
  flex-shrink: 0;
  width: 250rem;
}

.details {
  display: flex;
  flex-flow: column;
  justify-content: center;
  flex: auto;
}

.meal-name {
  font-size: 36rem;
}

.desc {
  color: #aeaeae;
}

.price-count {
  display: flex;
  justify-content: space-between;
  margin-top: 20rem;
}

.top {
  margin-top: 40rem;
}

.price {
  font-size: 36rem;
  font-weight: bold;
}

.price::before {
  content: '￥';
  font-size: 26rem;
}
